html {
    background: #FFFFF0;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body {
    font-size: 1.7rem;
}
a {
    text-decoration: none;
    color: black;
}
p {
    font-size: 20px;
}


nav { 
    background-color: #FAF9F6;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 6px 0 rgba(0,0,0,0.1);
    z-index: 1000;
}
#navitems {
}
#tabetext {
    font-weight: bold;
}
#tabelogo0 {
    cursor: pointer;
    max-width: 130px;
    height: auto;
}


.header {
    display: flexbox;
    margin-top: 150px;
    text-align: center;
    font-size: 150%;
}
.header-logo {
    display: flexbox;
}
#header-logo-0 {
    max-width: 350px;
    height: auto;
    margin-right: 10px;
}


.section-title {
    margin-top: 300px;
    margin-bottom: 100px;
    text-align: center;
    padding-top: 100px;
}
.graytext {
    color: #525252;
}


.lineparent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.lineimg {
    grid-column-start: 1;
    max-width: 100px;
    height: auto;
}
hr {
    grid-column: span 5 / span 5;
    grid-column-start: 2;
    border: 0;
    border-top: 2px solid #333;
    width: 100%;
    margin-right: 0;
    margin-left: auto;
    margin-top: 25px;
}


#main-2 {
    display: flexbox;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0 6px 0 rgba(0,0,0,0.1);
}
.main-tlogo {
    align-items: center;
    justify-content: center;
}
#tlogo1 {
    max-width: 250px;
    height: auto;
    display: flexbox;
}
#tlogo2 {
    max-width: 250px;
    height: auto;
    display: flexbox;
}


.menu-section {
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 6px 0 rgba(0,0,0,0.1);
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: auto;
    margin-bottom: 70px;
    text-align: center;
}
.menumainimg {
    margin-top: 23px;
    margin-bottom: auto;
}
#menuimg1 {
    max-width: 150px;
    height: auto;
}
.menudesc {
    font-size: 20px;
    grid-column-start: 2;
    text-align: left;
}

.home-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    padding-bottom: 15.6rem;
}

/* footer */
#contacts {
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 6px 0 rgba(0,0,0,0.1);
    border-radius: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.contactimg {
    max-width: 50%;
}

.anim {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.anim:hover {
    transform: scale(1.1);
    text-shadow: 2px 5px 2px rgba(0,0,0,0.1);
}

#footer {
    background-color: white;
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.footerimg {
    grid-column-start: 2;
    max-width: 250px;
    height: auto;
}