html {
    background: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.7rem;
}
a {
    text-decoration: none;
    color: black;
}
p {
    font-size: 20px;
}

#navbar {
    padding: 0 50px;
    z-index: 1000;
    box-shadow: 0px 5px 10px 0px #959595;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    gap: 5px;
    background-color: white;
}
#navitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
#logo {
    max-width: 100px;
    height: auto;
    margin-right: 80px;
}


.header {
    display: flexbox;
    margin-top: 200px;
    text-align: center;
    font-size: 150%;
}
.header-logo {
    display: flexbox;
}
#header-logo-0 {
    max-width: 350px;
    height: auto;
    margin-right: 10px;
}
.header-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}
#header-grid-0 {
    grid-column: span 6 / span 6;
    grid-row: span 6 / span 6;
    grid-column-start: 2;
    background-color: #ffe694;
}

.section-title {
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
}
.graytext {
    color: #676767;
}
hr {
    border: 0;
    border-top: 2px solid #333;
    width: 70%;
    margin-left: 400px;
}
#main-2 {
    display: flexbox;
    text-align: center;
}
.main-tlogo {
    align-items: center;
    justify-content: center;
}
#tlogo1 {
    max-width: 250px;
    height: auto;
    display: flexbox;
}
#tlogo2 {
    max-width: 250px;
    height: auto;
    display: flexbox;
}


#menu-section {
    display: flexbox;
}
.menu1 {
    display: flex;
    gap: 16px;
}
#menuimg1 {
    max-width: 270px;
    height: auto;
}

.home-content {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    padding-bottom: 15.6rem;
}